<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!--<add key="DataFactory" value="FunctionalTree.VehicleFactory.Factories.DbFactory"/>-->
    <!--<add key="DataFactory_Db" value="FunctionalTree.VehicleFactory.Factories.DbFactory"/>-->
    <add key="DataFactory" value="FunctionalTree.VehicleFactory.Factories.XmlFactory"/>
  </appSettings>
  <!--<appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-0NI9LQM;Initial Catalog=Sapphire;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
      <bindingRedirect oldVersion="10.0.0.0" newVersion="14.0.0.0" />
    </dependentAssembly>
  </assemblyBinding>-->

</configuration>