<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!--<add key="VehicleFactory" value="FunctionalTree.DataProvider.VehicleFactories.XmlVehicleFactory"/>-->
    <add key="VehicleFactory" value="FunctionalTree.DataProvider.VehicleFactories.DbVehicleFactory"/>
  </appSettings>
  <!--<appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-0NI9LQM;Initial Catalog=Sapphire;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>